* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('DJI_0786.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

header {
    background-color: black;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fadeIn 5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 5;
    }
}

.nav-list {
    list-style-type: none;
    text-align: center;
    margin: 0;
}

.nav-list li {
    display: inline;
    margin: 0 15px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-list li a:hover {
    background-color: rgb(48, 96, 48);
    border-radius: 10px;
}
.hamburger {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}


@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: black;
        width: 100%;
        text-align: center;
    }

    .nav-list li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li a {
        padding: 15px 0;
        font-size: 20px;
    }
}


.contact-form-container {
    margin-top: 50px; 
    max-width: 400px; 
    margin-left: 30px; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left; 
}

.contact-form-container h1 {
    margin-bottom: 20px;
    font-size: 1.6px; 
    color: black;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-size: 0.9px; 
    margin-bottom: 5px;
    color: black;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9px; 
}

.form-group textarea {
    resize: vertical;
}

.submit-btn {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: rgb(48, 96, 48);
}

.contact-info {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    border-radius: 8px; 
    color: white;
    width: 300px; 
    margin: 20px; 
    text-align: left; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.contact-info h2 {
    font-size: 15px; 
    margin-bottom: 10px;
}

.contact-info p {
    font-size: 1px;
    margin: 5px 0; 
}

.contact-info a {
    color: #fff; 
    text-decoration: none; 
    font-weight: bold; 
}

.contact-info a:hover {
    color: rgb(48, 96, 48); 
    text-decoration: underline;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    animation: fadeIn1 5s forwards;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-links {
    list-style-type: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin: 0 10px;
}

.footer-links li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-links li a:hover {
    text-decoration: underline;
}

@keyframes fadeIn1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 5;
    }
}
